#about-panels-container {
    margin-top: 16px;
}

.testimonials-container-title {
    background: #0275D8;
    padding-bottom: 32px;
    padding-top: 32px;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 24px;
}

.select-situation-type,
.radio-container {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.radio-container .radio:first-child {
    margin-top: 0;
}

footer {
    margin-top: 16px;
    background: #333333;
    color: #ffffff;
    padding: 20px;
}

footer address:last-child {
    margin-bottom: 0;
}

html, body {
    height: 100%;
}

header {
    background: top center url(../img/castelo.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
}

header h1 {
    margin-top: 0;
}

.topcasafina-banner {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    transition: 0.3s;
}