#about-panels-container {
    margin-top: 16px;
}

.testimonials-container-title {
    background: #0275D8;
    padding-bottom: 32px;
    padding-top: 32px;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 24px;
}

.select-situation-type,
.radio-container {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.radio-container .radio:first-child {
    margin-top: 0;
}